* {
  font-family: "Futura", "Helvetica Neue", sans-serif;
  margin: 1%;
}

html, body, .frame {
  margin-top: 0;
}

.btn {
  border-radius: 5px;
  background-color: #049d16;
  color: white;
  border: none;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
}

.btn:hover {
  background-color: #2ad73f;
}

.text {
  border-radius: 10px;
  font-size: 18px;
  width: 90%;
  height: 6em;
  margin: auto;
}

#root {
  margin: 0 5vw;
  height: 100vh;
}

.title {
  margin: auto;
  width: 50%;
  text-align: center;
}

.top-bar {
  margin-top: 0;
  display: flex;
  vertical-align: center;
  border: solid gray;
  border-radius: 0 0 5px 5px;
  width: 80%;
  background-color: lightgray;
  border-top: 0;
  padding-bottom: 0.5em;
  justify-content: center;
  align-content: center;
}

.form-item {
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

.slider {
  width: 50%;
  margin: auto;
}

.btn-submit {
  width: 5em;
  height: 3em;
  font-size: 1em;
  vertical-align: center;
  horiz-align: center;
}

.row-container {
  display: block;
  flex-direction: row;
}

.header {
  width: 100%;
  text-align: center;
  float: left;
  margin: {
    right: 0;
    left: 0;
  }
}

b {
  display: inline;
}

@mixin side {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  margin: {
    right: 0;
    left: 0;
  };
}

.left-side {
  @include side
}

.right-side {
  @include side
}